/* main css file */

.clockContainer {
  width: 100%;
  height: 800px;
}

/* for simplicity, all clock styling, clock hand images, etc is done assuming fixed clock size of 100, 100.  .clockFixedSizeContainer is then transform-ed to match the size of .clockContainer */
.clockFixedSizeContainer {
  /* fixed size */
  width: 100px;
  height: 100px;
  /* horizontal centering */
  margin: auto auto;
  /* vertical centering */
  top: 50%;
  margin-top: -50px;
  
  position: relative;
  
  transform: scale(3, 3);
  -o-transform: scale(3, 3);
  -webkit-transform: scale(3, 3);
  -moz-transform: scale(3, 3);
}

.blackOutline {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.circular {
  border-radius: 50%;
  -moz-border-radius: 50%;
}

.clockFace {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* This element will be rotated to change the time. 0 rotation corresponds to the 12 o'clock position. */
.clockHandContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  
  transition: transform 1s ease-out;
  -o-transition: -o-transform 1s ease-out;
  -webkit-transition: -webkit-transform 1s ease-out;
  -moz-transition: -moz-transform 1s ease-out;
}

.clockSecondHandVisual, .clockMasterHandVisual {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.clockSecondHandVisual {
  width: 10px;
  height: 55px;
  background-color: red;
}

.clockMasterHandVisual {
  width: 10px;
  height: 45px;
  margin-top: 10px;
  background-color: blue;
}

.test {
  width:100px;
  height:100px;
  background-color: yellow;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  
  transform: translate(80px, 80px) scale(1.5, 1.5) rotate(45deg);
  -webkit-transform: translate(80px, 80px) scale(1.5, 1.5) rotate(45deg);
  -o-transform: translate(80px, 80px) scale(1.5, 1.5) rotate(45deg);
}